.slider{
  gap: 12px;
  display: flex;
  &__element{
    height: 100px;

    display: flex !important;
    align-items: center;
    position: relative;
    //background: #eff4ff;
  }
}
.slick-track{
  display: flex;
}
.slider-wrapper{
  height: 116px;
  margin-left: 10px;
}
.slider-wrapper-payment{
@include mb-xs{
  margin: 0;
  padding: 0;
  width: 100%;
}
  padding: 0 100px;

  .slick-slider{
    @include mb-xs{
      .slider-prev{

        display: none !important;
      }
      .slider-next{
        display: none !important;
      }
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

}

.slider-icon{
  //position: absolute;
  top: 0;
  left: 0;
  width: 188px;
  height: auto;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
}
.alva{
  background-image: url("../../assets/alva.svg");
  height: 38px;
  &:hover{
    background-image: url("../../assets/alva-hov.svg");
  }
}
.tendo{
  background-image: url("../../assets/tendo.svg");
  height: 54px;
  &:hover{
    background-image: url("../../assets/tendo-hov.svg");
  }
}
.center{
  background-image: url("../../assets/center.svg");
  height: 57px;
  &:hover{
    background-image: url("../../assets/center-hov.svg");
  }
}
.fagor{
  background-image: url("../../assets/fagor.svg");
  height: 42px;
  &:hover{
    background-image: url("../../assets/fagor-hov.svg");
  }
}
.radio{
  background-image: url("../../assets/radio.svg");
  height: 40px;
  &:hover{
    background-image: url("../../assets/radio-hov.svg");
  }
}
.slider-next{
  background-image: url("../../assets/Right.svg");
  height: 24px;
  width: 46px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
.slider-prev{
  background-image: url("../../assets/Left.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 24px;
  width: 46px;
  cursor: pointer;
}