$yellow: #ffdd2d;
$blue-1: #F1F4FC;
$blue-2: #C2D2F4;
$blue-3: #2b6bf3;
$blue-4: #1252DB;
$blue-5: #1d253c;
$blue-6: #F1F5FF;
$green-1: #6FCF97;
$green-2: #27AE60;
//$color-007: #f1f4fc;
$red: #fd466e;
$white: #ffffff;
$icon-normal:#DDE7FD;
$icon-hover:$blue-5;
$gray:#666666;
$bg-color:$blue-1;
